.footer {
  width: 100%;
  background-color: var(--bgmd);
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;

  margin-top: 100px;
}

.footertitle {
  font-family: var(--inter);
  font-weight: 600;
  font-size: 36px;
  text-transform: capitalize;
  color: var(--white);
}

.closersection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.closer {
  font-family: var(--inter);
  font-size: 12px;
  font-weight: 200;
  color: var(--white);
}

@media (max-width: 1060px) {
  .footer {
    padding: 20px 50px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 20px 30px;
    flex-direction: column;
  }

  .closersection {
    margin-top: 20px;
  }

  .footertitle {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px 20px;
  }

  .closersection {
    margin-top: 20px;
  }

  .footertitle {
    font-size: 25px;
  }
}