.header {
  width: 100%;
  background-color: var(--bgmd);
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;

  position: relative;
}

.headertitle {
  font-family: var(--inter);
  font-weight: 600;
  font-size: 36px;
  text-transform: capitalize;
  color: var(--white);
}

.navlist {
  display: flex;
  gap: 15px;
}

.navitem {
  padding: 5px;
}

.navlink {
  font-family: var(--inter);
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--white);

  transition: all 0.2s ease-in-out;
}

.navlink:hover {
  color: var(--accent);
}

.navbutton {
  font-family: var(--inter);
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--bgdark);

  background-color: var(--accent);
  border: 2px solid var(--accent);
  border-radius: 5px;
  padding: 3px 13px;

  transition: all 0.2s ease-in-out;
}

.navbutton:hover {
  border: 2px solid var(--bgdark);
}

.menubtn {
  width: 30px;
  height: 25px;
  position: relative;
  z-index: 60;

  border: none;
  background: transparent;

  cursor: pointer;
}

.menubtn > span {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: var(--white);
  transition: all .25s ease-in-out;
}

.menubtn > span:nth-child(1) {
  top: 0%;
}

.menubtn > span:nth-child(2) {
  top: 50%;
}

.menubtn > span:nth-child(3) {
  top: 100%;
}

.menubtn.open > span:nth-child(1) {
  top: 50%;
  transform: rotate(135deg);
}

.menubtn.open > span:nth-child(2) {
  top: 50%;
  opacity: 0;
}

.menubtn.open > span:nth-child(3) {
  top: 50%;
  transform: rotate(-135deg);
}

.mobilenav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--bgmd);
  z-index: 50;

  transform: translateY(-100%);

  transition: all 0.3s ease-in-out;
}

.mobilenav.active {
  transform: translateY(0);
}

.mobilenavlist {
  width: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobilenavlist > .navitem {
  margin-bottom: 20px;
}


@media (max-width: 1060px) {
  .header {
    padding: 20px 50px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 20px 30px;
  }

  .headertitle {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 20px 20px;
  }

  .headertitle {
    font-size: 25px;
  }
}
