.herosection {
  height: 80vh;
  background-color: var(--bgmd);
  position: relative;
  overflow: hidden;
}

.heroimg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
}

.herotext {
  max-width: 1060px;
  height: 100%;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  z-index: 10;
}

.herotitle {
  position: relative;
  font-family: var(--inter);
  font-weight: 800;
  font-size: 70px;
  text-transform: capitalize;
  color: var(--white);
  text-align: right;
}

.featuredlink {
  padding-top: 20px;
  line-height: 10px;
  position: relative;

  font-family: var(--inter);
  font-size: 18px;
  color: var(--accent);
}

.featuredlink::after {
  content: "";
  width: 90%;
  height: 2px;
  background-color: var(--accent);
  position: absolute;
  bottom: -8px;
  left: 0;

  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.featuredlink:hover::after {
  opacity: 1;
}

.arrow {
  transform: scaleX(-1) translateY(50%);
  stroke-width: 1px;
}